.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 87px 0 87px;
    color: var(--text-logo);
    z-index: 1000;
}
.header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-right: 10px;
    width: 80px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 45%;
}
.links li{
    list-style: none;
}
